test {
	font: italic bold 12px/30px system-ui, Helvetica Neue, sans-serif;
	font: italic bold 12px/30px system-ui, sans-serif;
	font: italic bold 12px/30px sans-serif;
	font-family: system-ui, Helvetica Neue, sans-serif;
	font-family: system-ui, sans-serif;
	font-family: system-ui;
	font-family: sans-serif;
	font-family: "Droid Sans", system-ui, sans-serif;
}
